.form :first-child {
  width: 250px;
  height: 30px;
  font-size: 24px;
  border-radius: 8px;
}
.form {
  width: 700px;
  height: 100px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.form :last-child {
  width: 80px;
  height: 30px;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
.form :last-child:hover {
  background-color: greenyellow;
}
.ul {
  font-size: 24px;
  list-style: inside;
}
.ul li button {
  width: 70px;
  height: 24px;
  background-color: orangered;
  border-radius: 7px;
}
.ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.done {
  list-style: none;
}
.done span {
  text-decoration: line-through;
}
.done::before {
  padding: 10px;
  content: "✅";
  /* text-decoration: none; */
}
