.header {
  width: 100%;
  height: 100px;
  padding: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linkNav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.linkNav:hover {
  border-bottom: 2px solid yellow;
  cursor: pointer;
}
.linkNav {
  width: 100px;
  text-align: center;
}
