.analytic {
  margin-top: 30px;
  font-size: 24px;
}
.analytic a {
  display: none;
}
.nav_page:hover .analytic a {
  display: inline-block;
  padding-left: 25px;
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
}
