.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.footer button:hover {
  background-color: yellow;
}
.numPage {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
