.modalWind {
  width: 600px;
  height: 600px;
  background-color: rgba(192, 192, 192, 0.9);
  position: absolute;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow: auto;
}
.card__Episode {
  font-size: 18px;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}
