.footer {
  height: 200px;
  background: rgb(1, 36, 0);
  background: linear-gradient(
    270deg,
    rgba(1, 36, 0, 1) 0%,
    rgba(9, 121, 18, 1) 50%,
    rgba(86, 212, 16, 1) 100%
  );
  text-align: center;
}
.logos {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.link {
  text-decoration: none;
  font-size: 16px;
}
.logos a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(253, 196, 53, 1);
}
