.btn_add {
  width: 150px;
  height: 50px;
  background-color: green;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}
.btn_add:hover {
  background-color: yellowgreen;
}
.none {
  display: none;
}
