.window {
  width: 75%;
  height: 75vh;
  position: absolute;
  background-color: rgba(192, 192, 192, 0.9);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  z-index: 99;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  cursor: not-allowed;
  font-size: 18px;
  font-weight: 600;
}
.modal img {
  width: 320px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}
.heroName {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.modLoc {
  overflow: auto;
  width: 900px;
  height: 60vh;
  /* background-color: rgba(255, 251, 16, 0.8); */
  background-color: rgba(192, 192, 192);
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
}
.loc__img img {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}
.location__card {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
