body {
  margin: 0;
  padding: 0;
}
.page {
  background-color: darkgray;
}
.nav_page {
  width: 80px;
  height: 920px;
  /* background-color: gray; */
  overflow: hidden;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}
.components {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.nav_page:hover {
  width: 350px;
  height: 920px;
  background-color: rgba(36, 38, 37, 1);
}
/*
.nav_page:hover .components {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
*/
.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.nav_page:hover .footer {
  padding-left: 45px;
}
