.page__two {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/fon.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.text {
  width: 500px;
  height: 600px;
  flex-direction: column;
  justify-content: center;
}
.text h2,
p {
  color: white;
  padding: 20px;
  font-size: 18px;
}
