.header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(1, 36, 0);
  background: linear-gradient(
    270deg,
    rgba(1, 36, 0, 1) 0%,
    rgba(9, 121, 18, 1) 50%,
    rgba(86, 212, 16, 1) 100%
  );
}
.header a {
  text-decoration: none;
  color: rgba(253, 196, 53, 1);
  cursor: pointer;
}
.header a:hover {
  border-bottom: 2px solid rgba(253, 196, 53, 1);
}
.header__left {
  font-size: 24px;
  font-weight: 600;
  height: 35px;
}
.header__right {
  display: flex;
  width: 300px;
  height: 35px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}
