.fon {
  padding-top: 50px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(1, 36, 0);
  background: linear-gradient(
    270deg,
    rgba(1, 36, 0, 1) 0%,
    rgba(9, 121, 18, 1) 50%,
    rgba(86, 212, 16, 1) 100%
  );
}
.fon__txt {
  font-size: 24px;
  width: 400px;
}
.front__dev {
  color: rgba(253, 196, 53, 1);
}
.btn__proj {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-right: 25px;
  background-color: #006400;
  font-size: 18px;
  cursor: pointer;
}
.btn__linkIn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(253, 196, 53, 1);
}
.img img {
  width: 350px;
  height: 350px;
}
.img {
  border-right: 5px solid rgba(253, 196, 53, 1);
  border-bottom: 5px solid rgba(253, 196, 53, 1);
}
.line {
  width: 500px;
  height: 500px;
  background-color: #006400;
  transform: rotate(45deg);
}
