.window {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 700px;
  height: 700px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
}
