.imgLogo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.search input {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
}
