.darkmode {
  margin-top: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.darkmode a {
  display: none;
}
.switch {
  display: none;
}
.switch img {
  display: none;
}
.nav_page:hover .darkmode a {
  display: inline-block;
  padding-left: 25px;
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
}
.nav_page:hover .switch {
  width: 50px;
  height: 20px;
  background-color: rgba(36, 38, 37, 1);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  display: inline-flex;
  margin-left: 10px;
  padding-left: 5px;
  cursor: pointer;
}
.nav_page:hover .switch img {
  display: inline-flex;
  width: 16px;
  height: 16px;
}
