.img__planet img {
  position: relative;
  width: 350px;
  cursor: pointer;
  animation: img 100s linear infinite;
  transition: all 0.8s;
}
.img__planet img:hover {
  transition: all 0.9s;
  transform: scale(1.2);
}
@keyframes img {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
.change {
  display: block;
}
.planet {
  width: 850px;
  display: flex;
  justify-content: flex-start;
}
.planet img {
  position: relative;
  animation: planet 5s linear forwards;
  animation-iteration-count: 1;
}
@keyframes planet {
  0% {
    width: 350px;
    left: 0rem;
  }
  25% {
    width: 450px;
    left: 5rem;
  }
  50% {
    width: 550px;
    left: 10rem;
  }
  75% {
    width: 650px;
    left: 15rem;
  }
  100% {
    width: 750px;
    left: 20rem;
  }
}
@media screen and (max-width: 1400px) {
  @keyframes planet {
    0% {
      width: 350px;
      left: 0rem;
    }
    25% {
      width: 400px;
      left: 5rem;
    }
    50% {
      width: 450px;
      left: 8rem;
    }
    75% {
      width: 500px;
      left: 11rem;
    }
    100% {
      width: 600px;
      left: 15rem;
    }
  }
}
