.content {
  width: 100%;
  /* padding: 25px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.cards {
  width: 260px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 3px violet;
}
.img {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.img img {
  width: 200px;
  height: 200px;
}
.category,
.title {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.test {
  position: relative;
  height: 70px;
  padding: 5px;
}
.description {
  width: 250px;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  height: 65px;
  bottom: 0px;
}
.description:hover {
  height: auto;
  font-size: 16px;
  background-color: white;
  border-bottom: 2px solid red;
}
.count,
.price {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
