.dashboard {
  margin-top: 55px;
  font-size: 24px;
}
.dashboard a {
  display: none;
}
/* .dashboard a {
  padding-left: 25px;
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
  overflow: hidden;
} */
.nav_page:hover .dashboard a {
  display: inline-block;
  padding-left: 25px;
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
}
