.project__main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: rgb(1, 36, 0);
  background: linear-gradient(
    270deg,
    rgba(1, 36, 0, 1) 0%,
    rgba(9, 121, 18, 1) 50%,
    rgba(86, 212, 16, 1) 100%
  );
}
.imgProj img {
  width: 550px;
  height: 400px;
  border-radius: 35px;
  transition: transform 0.5s;
}
.imgProj:hover img {
  transition: transform 0.8s;
  transform: scale(1.3);
}
.project {
  font-size: 64px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(253, 196, 53, 1);
}
.project__1,
.project__3 {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
}
.proj_txt_1 {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 1200px;
}
.proj_txt_2 {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj_txt_3 {
  width: 400px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__main__page h2 {
  font-size: 32px;
}
.project__main__page p {
  font-size: 24px;
}
.project__main__page button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(253, 196, 53, 1);
}
