body {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.set_timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
