.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 10px;

  /*  */
}
.card img {
  width: 250px;
  height: 200px;
  border: 1px solid white;
  border-radius: 15px;
}
.card p {
  font-size: 18px;
  font-weight: 600;
}
.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
