.main__page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
}
.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100vh; */
  display: block;
}

.stars {
  background: #000
    url(https://i.postimg.cc/hhFD7Nkf/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png)
    repeat top center;
  z-index: 0;
}

.twinkling {
  background-image: url(https://i.postimg.cc/CLpNr4PF/twinkling.png);
  animation: 3s twinkle infinite;
  animation-timing-function: linear;
}

@keyframes twinkle {
  from {
    backrgound-position: 0;
  }
  to {
    background-position: -100px 0;
  }
}
.header {
  margin-top: 50px;
}
.header ul {
  display: flex;
  position: fixed;
  left: 30%;
  right: 40%;
  z-index: 99;
  gap: 50px;
  animation-name: anim;
  animation-duration: 5s;
  animation-delay: 9s;
  opacity: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.header ul li {
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.fon__text {
  width: 430px;
  position: relative;
  color: white;
  font-size: 96px;
  animation-name: fon__text;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
  /* animation: fon__text 5s linear; */
}
@keyframes fon__text {
  from {
    left: -50vw;
  }
  to {
    left: 5vw;
    opacity: 1;
  }
}
.fon {
  width: 1400px;
  /* height: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vector {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  bottom: 40px;
  animation: vector 1s infinite;
}
@keyframes vector {
  0% {
    bottom: 10;
  }
  100% {
    bottom: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .fon__text {
    font-size: 80px;
  }
  @keyframes fon__text {
    from {
      left: -50vw;
    }
    to {
      left: 20vw;
      opacity: 1;
    }
  }
}
