.search > input {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  background-color: rgba(245, 245, 245, 1);
}
.search {
  margin-top: 55px;
  text-align: center;
}
.nav_page:hover .search > input {
  width: 215px;
  height: 50px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  border: none;
}
