.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: rgba(74, 73, 203, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  display: none;
  /* margin-left: 10px; */
}
.name a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.nav_page:hover .name {
  display: block;
  margin-left: 10px;
  color: aliceblue;
}
